<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.gdschua.bloodapp" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:theme="@style/AuxTheme"
            android:label="Change Password"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:theme="@style/AuxTheme"
            android:label="Edit Profile"
            android:exported="false" />
        <activity
            android:name=".Activities.UserSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_user_settings"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AuxTheme" />
        <activity
            android:name=".Activities.HospitalActivities.HospitalSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_hospital_settings"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AuxTheme" />
        <activity
            android:name=".Activities.AboutActivity"
            android:exported="false"
            android:theme="@style/AuxTheme" />
        <activity
            android:name=".Activities.NotificationInfoActivity"
            android:exported="false"
            android:theme="@style/AuxTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/AuxTheme" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/AuxTheme" />

        <service
            android:name=".Utils.NotificationReceiverSvc"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.ForgotPassword"
            android:exported="false"
            android:theme="@style/LauncherTheme" />
        <activity
            android:name=".Activities.NoInternetActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".Activities.HospitalActivities.HospitalSignUpActivity"
            android:exported="false"
            android:theme="@style/LauncherTheme" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".Activities.SignupActivity"
            android:exported="false"
            android:label="@string/signup_button"
            android:theme="@style/LauncherTheme" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false"
            android:label="@string/login_button"
            android:theme="@style/LauncherTheme" />
        <activity
            android:name=".Activities.LauncherActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/LauncherTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>